.hero {
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #C4C4C4;
    background-image: linear-gradient(to right, rgba(47,48,58,0.4), rgba(47,48,58,0.4)), url(../images/bg-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

    &__title {
        margin: 0 auto;
        width: 700px;
        margin-bottom: 30px;
        color: $color-first-title;
        font-size: 44px;
        font-weight: 900;
        line-height: 1.36;
        letter-spacing: 2.64px;
        text-transform: uppercase;
    }

    &__btn {
    display: inline-block;
    color: $color-white;
    font-family: inherit;
    background-color: $color-akcent;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    border: $color-akcent;
    border-radius: 4px;
    padding: 10px 24px;
    min-width: 200px;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: color $duration $timing-function, background-color $duration $timing-function;
}

    &__btn:hover,
    &__btn:focus {
    color: $color-akcent;
    background-color: $color-white-bg;
}
}